@page "/HowFlashcards"

<p>Tips for creating good flashcards!</p>
<p>write the queue as close to the real life application of the backside: e.g. how to set color of text with css instead of "explain css property: color:</p>