<aside>
    <nav>
        <ul>
            <li><NavLink href=""><img style="width: 70%" src="elephantLogo.png"/></NavLink></li>
            <li><NavLink href="">Home</NavLink></li>
            <li><NavLink href="DecksPage">Decks</NavLink></li>
            <li><NavLink href="WhyFlashcards">Why Flashcards?</NavLink></li>
            <li><NavLink href="HowFlashcards">Creating Good Flashcards</NavLink></li>
        </ul>
    </nav>
</aside>