/* /Layout/MainLayout.razor.rz.scp.css */
body[b-ojyy5v3png] {
    margin: 0;
}
.page[b-ojyy5v3png] {
    display: flex;
}
.sidebar[b-ojyy5v3png] {
    height: 100vh;
    border-right: 1px solid gray;
}
main[b-ojyy5v3png] {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
/* /Layout/NavMenu.razor.rz.scp.css */
aside[b-lmpb2t4s9t] {
	display: flex;
	padding-right: 10px;
}

aside nav[b-lmpb2t4s9t] {
	width: 250px;
	margin-top: 20px;
}

aside ul[b-lmpb2t4s9t] {
	padding-left: 0px;
	margin-top: 0px;
}

aside li[b-lmpb2t4s9t] {
	list-style-type: none;
	border-bottom: 1px solid lightblue;
	padding: 15px;
	padding-left: 60px;
}

aside span[b-lmpb2t4s9t] {
	font-weight: 900;
}

aside nav a[b-lmpb2t4s9t] {
	text-decoration: none;
	color: #222;
}

aside nav li:hover[b-lmpb2t4s9t] {
	background-color: #d3d3d3;
}
