body[b-ojyy5v3png] {
    margin: 0;
}
.page[b-ojyy5v3png] {
    display: flex;
}
.sidebar[b-ojyy5v3png] {
    height: 100vh;
    border-right: 1px solid gray;
}
main[b-ojyy5v3png] {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}